# ignore everything
*
!.gitignore

!ghostty/
!ghostty/**

!ideavim
!ideavim/**

!karabiner/
!karabiner/karabiner.json

!kitty/
!kitty/**

!lazygit/
!lazygit/**

!nvim/
!nvim/**

!tmux/
!tmux/**
tmux/plugins/

!yazi/
!yazi/**
yazi/flavors/
yazi/plugins/

!zsh/
!zsh/**
zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zcompdump*
zsh/.zcompcache

.DS_Store
